/* General */
$small-font-size: 14px;
$normal-font-size: 16px;

$normal-font-weight: 300;

/* Desktop */
$d-extra-large-font-size: 36px;
$d-large-font-size: 24px;
$d-medium-font-size: 18px;

/* Mobile */

$m-extra-large-font-size: 24px;
$m-large-font-size: 20px;
$m-medium-font-size: 18px;


